{% extends "superadmin/base.html" %}
{% block content %}

<div class="container-fluid">

<div class="card shadow-sm border-0 mx-auto" style="max-width:650px;">
<div class="card-body p-5">

<h4 class="fw-bold mb-4">
    {{ title }}
</h4>

<form method="POST">
{% csrf_token %}

<div class="mb-4">
<label class="form-label fw-semibold">
Location Name
</label>
{{ form.name }}

</div>

  <div class="mb-4">
    
      {{ form.meta_title.label_tag }}
      {{ form.meta_title }}
  </div>

  <div class="mb-4">
      {{ form.meta_keywords.label_tag }}
      {{ form.meta_keywords }}
  </div>


<div class="mb-4">
    {{ form.meta_description.label_tag }}
    {{ form.meta_description }}
</div>

<div class="mb-4 form-check">
    {{ form.is_active }}
    <label class="form-check-label fw-semibold">
        Active
    </label>
</div>
<button class="btn btn-warning px-4">
<i class="fa fa-save me-2"></i>
Save Location
</button>

<a href="{% url 'location-list' %}"
   class="btn btn-light ms-2">
Cancel
</a>

</form>

</div>
</div>

</div>

{% endblock %}
