{% extends "farmhouse_admin/base.html" %}
{% block content %}

<div class="container-fluid bg-white px-4 py-4" style="max-width:1400px;margin:auto;">

<!-- HEADER -->

<div class="page-header mb-4">

<div>
<h2 class="fw-bold mb-1 text-dark">
{% if form.instance.pk %}
Edit Farmhouse
{% else %}
Add Farmhouse
{% endif %}
</h2>

<p class="text-muted">
Provide accurate details to attract more bookings.
</p>
</div>

<a href="{% url 'owner_farmhouses' %}" class="back-btn">
← Back
</a>

</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}
{% endif %}


<form method="post" enctype="multipart/form-data">

{% csrf_token %}

<!-- STEP 1 BASIC DETAILS -->

<div class="form-step active">

<div class="custom-card">

<h5 class="section-title ">Basic Details</h5>

<div class="row g-3">

<div class="col-md-6">
<label>Farmhouse Title</label>
{{ form.title }}
</div>

<div class="col-md-6">
<label>Location</label>
{{ form.location }}
</div>

<div class="col-md-6">
<label>Address</label>
{{ form.address }}
</div>
<div class="col-md-6">
<label>Distance (KM)</label>
{{ form.distance_km }}
</div>
{% comment %} <div class="col-md-4">
 <label >Slot Position</label>
{{ form.Slot_position }}
</div> {% endcomment %}

<div class="col-md-6">
<label>Check-in Time</label>
{{ form.check_in_time }}
</div>

<div class="col-md-6">
<label>Check-out Time</label>
{{ form.check_out_time }}
</div>

<div class="col-md-3">
<label>Guest Capacity</label>
{{ form.guest_count }}
</div>

<div class="col-md-4">
<label>Extra Guest Allowed</label>
{{ form.extra_guest_count }}
</div>

<div class="col-md-4">
<label>Bedrooms</label>
{{ form.bedrooms }}
</div>


<div class="col-md-4">
<label>Halls</label>
{{ form.halls }}
</div>

<div class="col-md-4">
<label>AC Bedrooms</label>
{{ form.ac_bedrooms }}
</div>



{% comment %} <div class="col-md-4">
<label>Commission %</label>
{{ form.commission_percentage }}
</div> {% endcomment %}

<!-- 
<div class="col-md-4">
<label>Commission %</label>
{{ form.commission_percentage }}
</div> -->

</div>

</div>

</div>

<!-- STEP 2 AMENITIES -->

<div class="form-step">

<div class="custom-card">

<h5 class="section-title">Amenities</h5>

<div class="row">

{% for checkbox in form.amenities %}

<div class="col-md-6 mb-2">

<div class="form-check">

{{ checkbox.tag }}

<label class="form-check-label ms-2">
{{ checkbox.choice_label }}
</label>

</div>

</div>

{% endfor %}

</div>

</div>






<div class="custom-card mt-4">

<h5 class="section-title">Things to Carry</h5>

<p class="text-muted mb-3">
Items guests should bring during their stay.
</p>

<div class="row">

{% for checkbox in form.thingstocarry %}

<div class="col-md-12 mb-2">

<div class="form-check">

{{ checkbox.tag }}

<label class="form-check-label ms-2">
{{ checkbox.choice_label }}
</label>

</div>

</div>

{% endfor %}

</div>

</div>



<div class="custom-card mt-4">

<h5 class="section-title">Property Rules</h5>

<p class="text-muted mb-3">
Rules guests must follow inside the farmhouse.
</p>

<div class="row">

{% for checkbox in form.properyrules %}

<div class="col-md-6 mb-2">

<div class="form-check">

{{ checkbox.tag }}

<label class="form-check-label ms-2">
{{ checkbox.choice_label }}
</label>

</div>

</div>

{% endfor %}

</div>

</div>

<div class="custom-card mt-4">

<h5 class="section-title">Facilities</h5>

<div class="row">

{% for checkbox in form.facilities %}

<div class="col-md-6 mb-2">

<div class="form-check">

{{ checkbox.tag }}

<label class="form-check-label ms-2">
{{ checkbox.choice_label }}
</label>

</div>

</div>

{% endfor %}

</div>

</div>

</div>

<!-- STEP 3 DESCRIPTION & PRICING -->

<div class="form-step">

<div class="custom-card">

<h5 class="section-title">Description</h5>

<label>Short Description</label>
{{ form.short_description }}

<label class="mt-3">Full Description</label>
{{ form.description }}

</div>

<div class="custom-card mt-4">

<h5 class="section-title">Pricing</h5>

<div class="row g-3">

<div class="col-md-4">
<label>Normal Day Price</label>
{{ pricing_form.normal_day_price }}
</div>

<div class="col-md-4">
<label>Weekend Price</label>
{{ pricing_form.weekend_price }}
</div>

<div class="col-md-4">
<label>Extra Guest Price</label>
{{ pricing_form.extra_guest_price }}
</div>

</div>

<div class="row mt-3">

<div class="col-md-4">
<label>Default Price Per Day</label>
{{ form.price_per_day }}
</div>
<div class="col-md-4">
<label> Days</label>
{{ form.weekend_days }}
</div>

<div class="col-md-12 d-flex align-items-end">

<div class="form-check me-4">
{{ form.free_cancellation }}
<label class="ms-2">Free Cancellation</label>
</div>


<div class="form-check me-4">
{{ form.is_featured }}
<label class="ms-2">Featured Farmhouse</label>
</div>

<div class="form-check">

{{ form.is_active }}
<label class="ms-2">Active Listing</label>
</div>




</div>

</div>

</div>

</div>

<!-- STEP 4 IMAGES -->

<div class="form-step">

<div class="custom-card">



<h5 class="section-title">Farmhouse Images</h5>

<input
type="file"
name="gallery_images"
class="form-control"
multiple
accept="image/*"

>

<small class="text-muted">
Upload multiple images. First image will be primary.
</small>

</div>

{% if farmhouse %}

<div class="custom-card mt-4">

<h5 class="section-title">Existing Images</h5>

<div class="row">

{% for img in farmhouse.images.all %}

<div class="col-md-3 mb-3">

<img
src="{{ img.image.url }}"
class="img-fluid rounded shadow-sm">

</div>

{% endfor %}

</div>

</div>

{% endif %}


<div class="col-12">
<label>Map embed</label>
{{ form.map_embed }}
</div>
        
</div>

<!-- NAVIGATION BUTTONS -->

<div class="save-bar">

<button type="button" id="prevBtn" class="btn-prev">
Previous
</button>

<button type="button" id="nextBtn" class="btn-next">
Next
</button>

<button type="submit" id="saveBtn" class="save-btn">
Save Farmhouse
</button>

</div>

</form>

</div>

<style>
.section-title{
    font-size: 25px;
    font-weight: 700;
    color: rgb(181, 49, 1);
}
.form-step{display:none;}
.form-step.active{display:block;}

.page-header{
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}

.custom-card{
border-radius:16px;
padding:28px;
box-shadow:0 8px 24px rgba(0,0,0,.04);
margin-bottom:20px;
}

.back-btn{
border:1px solid #eee;
padding:8px 18px;
border-radius:10px;
text-decoration:none;
color: orangered;
}

.save-bar{
margin-top:30px;
display:flex;
justify-content:flex-end;
gap:10px;
}

.btn-prev{
background:#e5e7eb;
border:none;
padding:10px 24px;
border-radius:10px;
}

.btn-next{
background:#ff7a00;
border:none;
color:white;
padding:10px 24px;
border-radius:10px;
}

.save-btn{
background:#16a34a;
border:none;
color:white;
padding:10px 24px;
border-radius:10px;
}

</style>

<script>

let currentStep = 0

const steps = document.querySelectorAll(".form-step")

const nextBtn = document.getElementById("nextBtn")
const prevBtn = document.getElementById("prevBtn")
const saveBtn = document.getElementById("saveBtn")

function showStep(step){

steps.forEach((s,i)=>{
s.classList.remove("active")
if(i === step){s.classList.add("active")}
})

prevBtn.style.display = step === 0 ? "none" : "inline-block"
nextBtn.style.display = step === steps.length - 1 ? "none" : "inline-block"
saveBtn.style.display = step === steps.length - 1 ? "inline-block" : "none"

}

nextBtn.onclick = function(){
currentStep++
showStep(currentStep)
}

prevBtn.onclick = function(){
currentStep--
showStep(currentStep)
}

showStep(currentStep)

</script>

{% endblock %}
