{% extends "superadmin/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid mt-4">

  <!-- Title -->
  <div class="mb-4">
    <h3 class="fw-bold ">
      {% if category %} Edit Category{% else %} Add Category{% endif %}
    </h3>
  </div>

  <!-- Form Card -->
  <div class="card border-0 shadow-sm col-md-6">
    <div class="card-body">

      <form method="post">
        {% csrf_token %}

        <!-- Category Name -->
        <div class="mb-3">
          <label class="form-label fw-semibold">Category Name</label>
          <input type="text"
                 name="name"
                 value="{{ category.name }}"
                 class="form-control"
                 placeholder="Enter category name"
                 required>
        </div>

        <!-- Status -->
        <div class="form-check mb-4">
          <input class="form-check-input"
                 type="checkbox"
                 name="is_active"
                 id="active"
                 {% if category.is_active or not category %}checked{% endif %}>
          <label class="form-check-label" for="active">
            Active
          </label>
        </div>

        <!-- Buttons -->
        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-warning text-white px-4">
             Save
          </button>

          <a href="{% url 'category_list' %}" class="btn btn-secondary px-4">
            Cancel
          </a>
        </div>

      </form>

    </div>
  </div>

</div>

{% endblock %}
