{% extends "superadmin/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid mt-4">

  <!-- Page Title -->
  <div class="mb-4">
    <h3 class="fw-bold text-dark">
      {% if tag %} Edit Tag{% else %} Add Tag{% endif %}
    </h3>
    <p class="text-muted mb-0">
      Manage blog tags for better content organization
    </p>
  </div>

  <!-- Card -->
  <div class="card border-0 shadow-sm col-md-6">

    <div class="card-body">

      <form method="post">
        {% csrf_token %}

        <!-- Tag Name -->
        <div class="mb-4">
          <label class="form-label fw-semibold">Tag Name</label>
          <input
            type="text"
            name="name"
            value="{{ tag.name }}"
            class="form-control "
            placeholder="Enter tag name"
            required
          >
        </div>

        <!-- Buttons -->
        <div class="d-flex gap-3">
          <button type="submit" class="btn btn-success px-4">
            <i class="fa fa-save me-1"></i> Save
          </button>

          <a href="{% url 'tag_list' %}" class="btn btn-secondary px-4">
            <i class="fa fa-times me-1"></i> Cancel
          </a>
        </div>

      </form>

    </div>
  </div>

</div>

{% endblock %}
