{% extends "base.html" %}
{% block content %}

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<form id="razorpay-form" method="POST" action="{% url 'verify_razorpay_payment' %}">
  {% csrf_token %}
  <input type="hidden" name="razorpay_order_id" id="razorpay_order_id">
  <input type="hidden" name="razorpay_payment_id" id="razorpay_payment_id">
  <input type="hidden" name="razorpay_signature" id="razorpay_signature">
</form>

<script>
  var options = {
    key: "{{ razorpay_key }}",
    amount: "{{ order.amount }}",
    currency: "INR",
    name: "Farmhouse Booking",
    description: "Secure Farmhouse Booking",
    order_id: "{{ order.id }}",
    handler: function (response) {
      document.getElementById("razorpay_order_id").value = response.razorpay_order_id;
      document.getElementById("razorpay_payment_id").value = response.razorpay_payment_id;
      document.getElementById("razorpay_signature").value = response.razorpay_signature;

      document.getElementById("razorpay-form").submit();
    },
    theme: {
      color: "#f97316"
    }
  };

  var rzp = new Razorpay(options);
  rzp.open();
</script>

{% endblock %}
