<!DOCTYPE html>
<html lang="en">
<head>
<title>Super Admin</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

<style>

body{
    font-family:'Inter',sans-serif;
    background:#f5f7fb;
    margin:0;
}

/* HEADER */
.header{
    background:#fff;
    border-bottom:1px solid #eee;
}

/* SIDEBAR */
.sidebar{
    width:260px;
    background:#fff;
    min-height:100vh;
    border-right:1px solid #eee;
    transition:.3s;
}

.sidebar.collapsed{
    width:80px;
}

/* MENU */
.sidebar a{
    width:100%;
    color:#333;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 16px;
    border-radius:10px;
    text-decoration:none;
    cursor:pointer;
    transition:.2s;
}

.sidebar a:hover{
    background:#fff4e5;
    color:#ff7a00;
}

/* ACTIVE MAIN */
.sidebar a.active-parent{
    background:#fff4e5;
    color:#ff7a00;
    font-weight:600;
}

/* LEFT */
.menu-left{
    display:flex;
    align-items:center;
    gap:12px;
}

.sidebar i{
    width:20px;
}

/* TEXT */
.menu-text{
    white-space:nowrap;
}

.sidebar.collapsed .menu-text{
    display:none;
}

/* SUBMENU */
.submenu{
    {% comment %} margin-left:34px; {% endcomment %}
    margin-top:6px;
    padding:4px;
    background:#f5f7fb;
}

.submenu a{
    font-size:14px;
    padding:9px 14px;
}

/* ACTIVE SUBMENU */
.submenu a.active{
    background:#fff4e5;
    color:#ff7a00;
    font-weight:600;
}

/* ROTATING ARROW */
.rotate{
    transform:rotate(180deg);
    transition:.25s;
}

/* CONTENT */
.content{
    width:100%;
    padding:25px;
}

.brand{
    color:#fa7a03;
    font-weight:700;
}

/* MOBILE */
@media(max-width:768px){
.sidebar{ width:80px!important; }
.menu-text{ display:none!important; }
.submenu{ display:none!important; }
}
{% comment %} .sidebar.collapsed .arrow{
    display:none;
} {% endcomment %}
.sidebar.collapsed .menu-text{
    display:none;
}

.sidebar.collapsed .menu-left{
    justify-content:center;
}

</style>
</head>

<body>

<!-- HEADER -->
<nav class="navbar header px-4 py-3 d-flex justify-content-between">

<div class="d-flex align-items-center gap-3">
<button class="btn btn-light" onclick="toggleSidebar()">
<i class="fa-solid fa-bars"></i>
</button>
<h5 class="mb-0 brand">Super Admin</h5>
</div>

<div class="dropdown">
<button class="btn d-flex align-items-center gap-2" data-bs-toggle="dropdown">
<div class="bg-warning text-white rounded-circle d-flex align-items-center justify-content-center"
style="width:36px;height:36px;">
{{ request.user.username|first|upper }}
</div>
{{ request.user.username }}
</button>

<ul class="dropdown-menu dropdown-menu-end">
<li><a class="dropdown-item" href="#">Profile</a></li>
<li><a class="dropdown-item text-danger" href="{% url 'accounts:logout' %}">Logout</a></li>
</ul>
</div>

</nav>


<div class="d-flex">

<!-- SIDEBAR -->
<aside class="sidebar p-3" id="sidebar">

<!-- DASHBOARD -->
<a href="{% url 'superadmin-dashboard' %}"
class="{% if request.resolver_match.url_name == 'superadmin-dashboard' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-gauge"></i>
<span class="menu-text">Dashboard</span>
</div>
</a>




<a href="{% url 'banner-list' %}"
class="{% if request.resolver_match.url_name == 'banner-list' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-gauge"></i>
<span class="menu-text">Banner List</span>
</div>
</a>


<a href="{% url 'amenity-list' %}"
class="{% if request.resolver_match.url_name == 'amenity-list' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-gauge"></i>
<span class="menu-text">Amenities</span>
</div>
</a>

<a href="{% url 'location-list' %}"
class="{% if request.resolver_match.url_name == 'location-list' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-gauge"></i>
<span class="menu-text">Locations</span>
</div>
</a>


<!-- PAYMENT POLICY -->
<a onclick="toggleMenu('paymentMenu',this)"
class="{% if request.resolver_match.url_name|slice:':14' == 'payment_policy' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-money-check-dollar"></i>
<span class="menu-text">Payment Policy</span>
</div>
<i class="fa-solid fa-chevron-down arrow"></i>
</a>

<div id="paymentMenu"
class="submenu {% if request.resolver_match.url_name|slice:':14' != 'payment_policy' %}d-none{% endif %}">

<a href="{% url 'payment_policy_list' %}"
class="{% if request.resolver_match.url_name == 'payment_policy_list' %}active{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-list"></i>
<span class="menu-text">All Policies</span>
</div>
</a>

<a href="{% url 'payment_policy_create' %}"
class="{% if request.resolver_match.url_name == 'payment_policy_create' %}active{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-plus"></i>
<span class="menu-text">Add Policy</span>
</div>
</a>

</div>




<!-- FARMHOUSES -->
<a href="{% url 'superadmin-farmhouses' %}"
class="{% if request.resolver_match.url_name == 'superadmin-farmhouses' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-house"></i>
<span class="menu-text">Farmhouses</span>
</div>
</a>



<!-- BOOKINGS -->
<!-- BOOKINGS -->
<a onclick="toggleMenu('bookingMenu',this)"
class="{% if request.resolver_match.url_name|slice:':13' == 'admin-booking' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-book"></i>
<span class="menu-text">Bookings</span>
</div>
<i class="fa-solid fa-chevron-down arrow"></i>
</a>

<div id="bookingMenu"
class="submenu {% if request.resolver_match.url_name|slice:':13' != 'admin-booking' %}d-none{% endif %}">

<a href="{% url 'admin-bookings' %}">
<div class="menu-left">
<i class="fa-solid fa-list-check"></i>
<span class="menu-text">All Bookings</span>
</div>
</a>

<a href="{% url 'admin-booking-create' %}">
<div class="menu-left">
<i class="fa-solid fa-calendar-plus"></i>
<span class="menu-text">Add Booking</span>
</div>
</a>

</div>



<!-- AVAILABILITY -->
<a onclick="toggleMenu('blockedMenu',this)"
class="{% if request.resolver_match.url_name in 'blocked-dates blocked-dates-create' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-calendar-xmark"></i>
<span class="menu-text">Availability</span>
</div>
<i class="fa-solid fa-chevron-down arrow"></i>
</a>
<div id="blockedMenu"
class="submenu {% if request.resolver_match.url_name in 'blocked-dates blocked-dates-create' %}{% else %}d-none{% endif %}">

<a href="{% url 'blocked-dates' %}"
class="{% if request.resolver_match.url_name == 'blocked-dates' %}active{% endif %}">
    
    <div class="menu-left">
        <i class="fa-solid fa-calendar-days"></i>
        <span class="menu-text">All Blocked Dates</span>
    </div>

</a>


<a href="{% url 'blocked-dates-create' %}"
class="{% if request.resolver_match.url_name == 'blocked-dates-create' %}active{% endif %}">

    <div class="menu-left">
        <i class="fa-solid fa-ban"></i>
        <span class="menu-text">Block Dates</span>
    </div>

</a>

</div>

<!-- BLOGS -->
<a onclick="toggleMenu('blogMenu',this)"
class="{% if request.resolver_match.url_name in 'blog_lists category_list tag_list comment_list' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-file-lines"></i>
<span class="menu-text">Blogs</span>
</div>
<i class="fa-solid fa-chevron-down arrow"></i>
</a>
<div id="blogMenu"
class="submenu {% if request.resolver_match.url_name in 'blog_lists category_list tag_list comment_list' %}{% else %}d-none{% endif %}">

<!-- ALL BLOGS -->
<a href="{% url 'blog_lists' %}"
class="{% if request.resolver_match.url_name == 'blog_lists' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-blog"></i>
        <span class="menu-text">All Blogs</span>
    </div>
</a>

<!-- CATEGORIES -->
<a href="{% url 'category_list' %}"
class="{% if request.resolver_match.url_name == 'category_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-folder-tree"></i>
        <span class="menu-text">Categories</span>
    </div>
</a>

<!-- TAGS -->
<a href="{% url 'tag_list' %}"
class="{% if request.resolver_match.url_name == 'tag_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-tags"></i>
        <span class="menu-text">Tags</span>
    </div>
</a>

<!-- COMMENTS -->
<a href="{% url 'comment_list' %}"
class="{% if request.resolver_match.url_name == 'comment_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-comments"></i>
        <span class="menu-text">Comments</span>
    </div>
</a>

</div>


<!-- CMS -->
<a onclick="toggleMenu('cmsMenu',this)"
class="{% if request.resolver_match.url_name in 'choose_services_list our_facility_list who_we_are_list about_section_list about_feature_list about_who_we_are_list facilities_list' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-layer-group"></i>
<span class="menu-text">CMS</span>
</div>
<i class="fa-solid fa-chevron-down arrow"></i>
</a>

<div id="cmsMenu"
class="submenu {% if request.resolver_match.url_name in 'choose_services_list our_facility_list who_we_are_list about_section_list about_feature_list about_who_we_are_list facilities_list' %}{% else %}d-none{% endif %}">

<!-- CHOOSE SERVICES -->
<a href="{% url 'choose_services_list' %}"
class="{% if request.resolver_match.url_name == 'choose_services_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-handshake"></i>
        <span class="menu-text">Choose Services</span>
    </div>
</a>

<!-- OUR FACILITY -->
<a href="{% url 'our_facility_list' %}"
class="{% if request.resolver_match.url_name == 'our_facility_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-building"></i>
        <span class="menu-text">Our Facility</span>
    </div>
</a>

<!-- WHO WE ARE -->
<a href="{% url 'who_we_are_list' %}"
class="{% if request.resolver_match.url_name == 'who_we_are_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-user-group"></i>
        <span class="menu-text">Who We Are</span>
    </div>
</a>

<!-- ABOUT SECTION -->
<a href="{% url 'about_section_list' %}"
class="{% if request.resolver_match.url_name == 'about_section_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-circle-info"></i>
        <span class="menu-text">About Section</span>
    </div>
</a>

<!-- ABOUT FEATURE -->
<a href="{% url 'about_feature_list' %}"
class="{% if request.resolver_match.url_name == 'about_feature_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-star"></i>
        <span class="menu-text">About Feature</span>
    </div>
</a>

<!-- KNOW WHO WE ARE -->
<a href="{% url 'about_who_we_are_list' %}"
class="{% if request.resolver_match.url_name == 'about_who_we_are_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-address-card"></i>
        <span class="menu-text">Know Who We Are</span>
    </div>
</a>

<!-- FACILITIES -->
<a href="{% url 'facilities_list' %}"
class="{% if request.resolver_match.url_name == 'facilities_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-hotel"></i>
        <span class="menu-text">Facilities</span>
    </div>
</a>

</div>


<!-- USERS -->
<a onclick="toggleMenu('userMenu',this)"
class="{% if request.resolver_match.url_name in 'admin_user_list admin_user_add' %}active-parent{% endif %}">
<div class="menu-left">
<i class="fa-solid fa-users"></i>
<span class="menu-text">Users</span>
</div>
<i class="fa-solid fa-chevron-down arrow"></i>
</a>

<div id="userMenu"
class="submenu {% if request.resolver_match.url_name in 'admin_user_list admin_user_add' %}{% else %}d-none{% endif %}">

<!-- ALL USERS -->
<a href="{% url 'admin_user_list' %}"
class="{% if request.resolver_match.url_name == 'admin_user_list' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-users"></i>
        <span class="menu-text">All Users</span>
    </div>
</a>

<!-- ADD USER -->
<a href="{% url 'admin_user_add' %}"
class="{% if request.resolver_match.url_name == 'admin_user_add' %}active{% endif %}">
    <div class="menu-left">
        <i class="fa-solid fa-user-plus"></i>
        <span class="menu-text">Add User</span>
    </div>
</a>

</div>


</aside>

<!-- CONTENT -->
<main class="content">
{% block content %}{% endblock %}
</main>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>

function toggleSidebar(){
document.getElementById("sidebar").classList.toggle("collapsed");
}

function toggleMenu(menuId,el){

const menu=document.getElementById(menuId);
const arrow=el.querySelector(".arrow");

const isOpen=!menu.classList.contains("d-none");

document.querySelectorAll(".submenu").forEach(m=>m.classList.add("d-none"));
document.querySelectorAll(".arrow").forEach(a=>a.classList.remove("rotate"));

if(!isOpen){
menu.classList.remove("d-none");
arrow.classList.add("rotate");
sessionStorage.setItem("openMenu",menuId);
}else{
sessionStorage.removeItem("openMenu");
}

}

document.addEventListener("DOMContentLoaded",()=>{

const openMenu=sessionStorage.getItem("openMenu");

if(openMenu){

const el=document.getElementById(openMenu);
if(el){
el.classList.remove("d-none");

const parent=el.previousElementSibling;
const arrow=parent.querySelector(".arrow");
if(arrow) arrow.classList.add("rotate");
}

}

});

</script>

</body>
</html>



{% comment %} <script>
const sidebar = document.getElementById("sidebar");

function handleSidebar() {
    if (window.innerWidth <= 768) {
        sidebar.classList.add("collapsed");
    } else {
        sidebar.classList.remove("collapsed");
    }
}

handleSidebar();
window.addEventListener("resize", handleSidebar);

function toggleSidebar() {
    if (window.innerWidth > 768) {
        sidebar.classList.toggle("collapsed");
    }
}
</script> {% endcomment %}



























































