{% extends "superadmin/base.html" %}
{% block content %}

<div class="container-fluid">

<div class="d-flex justify-content-between mb-4">
  <div>
    <h3 class="fw-bold">Edit Farmhouse</h3>
    <small class="text-muted">{{ farmhouse.title }}</small>
  </div>

  <a href="{% url 'superadmin-farmhouses' %}" class="btn btn-outline-secondary btn-sm">
    ← Back
  </a>
</div>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

{% include "superadmin/farmhouse_add.html" %}

</form>

</div>
{% endblock %}
