{% extends "superadmin/base.html" %}
{% block content %}

<div class="container-fluid">

<!-- HEADER -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold">Banners</h3>

    <a href="{% url 'banner-add' %}" class="btn btn-warning shadow-sm">
        <i class="fa fa-plus me-2"></i> Add Banner
    </a>
</div>


<!-- TABLE CARD -->
<div class="card border-0 shadow-sm">
    <div class="card-body p-0">

        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th class="ps-4">Title</th>
                    <th>Link</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th class="text-end pe-4">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for obj in items %}
                <tr>

                    <td class="ps-4 fw-semibold">
                        {{ obj.title }}
                    </td>

                    <td>
                        <a href="{{ obj.link }}" target="_blank" class="text-warning" >
                            {{ obj.link|truncatechars:30 }}
                        </a>
                    </td>

                    <td>{{ obj.Slot_position }}</td>

                    <td>
                        {% if obj.is_active %}
                        <span class="badge bg-success">Active</span>
                        {% else %}
                        <span class="badge bg-secondary">Inactive</span>
                        {% endif %}
                    </td>

                    <td class="text-end pe-4">

                        <a href="{% url 'banner-edit' obj.id %}"
                           class="btn btn-sm btn-outline-primary">
                           Edit
                        </a>

                        <!-- DELETE -->
                        <button
                            class="btn btn-sm btn-outline-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{obj.id}}">
                            Delete
                        </button>

                        <!-- MODAL -->
                        <div class="modal fade" id="deleteModal{{obj.id}}">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                              <div class="modal-header">
                                <h5 class="modal-title">Delete Banner</h5>
                                <button class="btn-close"
                                        data-bs-dismiss="modal"></button>
                              </div>

                              <div class="modal-body">
                                Are you sure you want to delete
                                <strong>{{ obj.title }}</strong>?
                              </div>

                              <div class="modal-footer">
                                <button class="btn btn-light"
                                        data-bs-dismiss="modal">
                                        Cancel
                                </button>

                                <form method="POST"
                                      action="{% url 'banner-delete' obj.id %}">
                                    {% csrf_token %}
                                    <button class="btn btn-danger">
                                        Yes Delete
                                    </button>
                                </form>
                              </div>

                            </div>
                          </div>
                        </div>

                    </td>

                </tr>

                {% empty %}
                <tr>
                    <td colspan="5" class="text-center p-5 text-muted">
                        No banners found
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

</div>

{% endblock %}
